nav {
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px darkgray;
}

nav a {
    flex: 1;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
}

nav a:hover {
    color: orangered;
    text-decoration: none;
}

/*功能性 选中栏目变色*/
nav.home .home,
nav.qr .qr,
nav.url .url,
nav.aes .aes {
    color: orangered;
}

/*功能性 隐藏未选择的栏目*/
main.home #qr,
main.home #url,
main.home #aes,
main.qr #home,
main.qr #url,
main.qr #aes,
main.url #home,
main.url #qr,
main.url #aes,
main.aes #home,
main.aes #qr,
main.aes #url {
    display: none;
}

#home, #qr, #url, #aes {
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
}

/*home布局*/
.c-div {
    height: 80vh;
    flex: 1;
    padding: 0.5em;
}

.c-div-textarea {
    resize: none;
    margin-top: 0.5em;
    width: 90vh;
}

/*url布局*/
#url {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}