body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*顶栏*/
header {
    position: sticky;
    top: 0;
}

/*导航栏盒模型*/
nav {
    display: flex;
    background-color: blueviolet;
    box-shadow: 0 5px 5px darkgray;
    border-radius: 2px;
}

nav a {
    flex: 1;
    padding: 16px;
    color: white;
    background-color: transparent;

    font-size: 22px;
    font-weight: bold;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    /*颜色渐变动画延时*/
    transition: background-color 0.25s;
}

nav a:hover {
    color: whitesmoke;
    background-color: purple;
}

/*功能性 选中栏目变色*/
nav.home .home,
nav.qr .qr,
nav.url .url,
nav.aes .aes {
    background-color: deeppink;
}

/*暂时使用显示栏目框*/
#home,
#qr,
#url,
#aes {
    border: 1px solid #F00;
    width: 100%;
    height: 65vh;
}

/*功能性 隐藏未选择的栏目*/
article.home #qr,
article.home #url,
article.home #aes,
article.qr #home,
article.qr #url,
article.qr #aes,
article.url #home,
article.url #qr,
article.url #aes,
article.aes #home,
article.aes #qr,
article.aes #url {
    display: none;
}

/*功能性 固定位置返回顶部图标*/
body .fixed-bar {
    position: fixed;
    right: 1%;
    bottom: 5%;
    background-color: blueviolet;
    border: 1px solid gainsboro;
}