body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: blueviolet;
    box-shadow: 0 5px 5px darkgray;
    border-radius: 2px;
}

nav a {
    flex: auto;
    padding: 16px ;
    color:white;
    background-color:transparent;

    font-size:20px;
    font-weight:bold;

    text-align: center;
    text-decoration:none;
    text-transform: uppercase;

    -webkit-transition:background-color 0.25s;
    -moz-transition:background-color 0.25s;
    transition:background-color 0.25s;
}

nav a:hover {
    color: whitesmoke;
    background-color:purple;
}

nav.home .home,
nav.qr .qr,
nav.url .url,
nav.encrypt .encrypt{
    background-color:deeppink;
}


#home, #qr, #url,#encrypt  {
    border:1px solid #F00;
    width:100%;
    height:500px;
}


body .roll_to_top img {
    height: 40px;
    width: 40px;
    position:fixed;
    right:5%;
    bottom:5%;
}