body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    background-color: blueviolet;
    box-shadow: 0 5px 5px darkgray;
    border-radius: 2px;
}

nav a {
    flex: auto;
    padding: 16px;
    color: white;
    background-color: transparent;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

nav a:hover {
    color: whitesmoke;
    background-color: purple;
}

nav.home .home,
nav.qr .qr,
nav.url .url,
nav.encrypt .encrypt {
    background-color: deeppink;
}


#home,
#qr,
#url,
#encrypt {
    border: 1px solid #F00;
    width: 100%;
    height: 65vh;
}

article.home #qr,
article.home #url,
article.home #encrypt,
article.qr #home,
article.qr #url,
article.qr #encrypt,
article.url #home,
article.url #qr,
article.url #encrypt,
article.encrypt #home,
article.encrypt #qr,
article.encrypt #url {
    display: none;
}

body .fixed-btn {
    position: fixed;
    right: 1%;
    bottom: 5%;
    background-color: rgb(101, 214, 101);
    border: 1px solid #eee;
}